.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.list {
    margin-right: 1rem;
}

.list_blur {
    filter: blur(2px);
}

.button {
        height: 2rem;
    button {
        width: 2rem;
        height: 2rem;
        background-color: aqua;
        transition: all 0.3s ease-in-out;
    }
    span {
        visibility: hidden;
        opacity: 0;
        transition: all 1s ease-in-out;
        border: 1px solid black;
        border-radius: 0.3rem;
        margin-left: 1rem;
        background-color: black;
        color: white;
        padding: 0.3rem;
    }
    &:hover {
        span {
            visibility: visible;
            opacity: 1;
       }
       button {
        background-color: green;
       }
    } 
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        text-align: center;
        line-height: 4rem;
    }
    span, .fetch, button {
    display: inline-block;
    width: 7rem;
    height: 4rem;
    margin-right: 1rem;
    border: 1px solid grey;
    border-radius: .4rem;
    }
    button {
        background-color: rgb(189, 146, 146);
        &:hover {
            background-color: rgb(65, 128, 184);
        }
    }
}